/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

html{
    overflow-x: hidden;
}

/* 
*{
    border: 1px solid red;
    overflow-x: hidden;
}
*/

body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Golos Text", sans-serif;
    padding-top: 100px;
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}

.temp-text {
    position: absolute;
    bottom: 13%;
    width: 80%;
    text-align: left;
    margin-left: 0%;
    color: #7b7b7b;
    overflow: hidden;
}


.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Your existing styles go here */


/* Styles for the prompt container */
.prompt-container {
    background-color: white;
    margin-bottom: 10px;
    display: inline-block; /* Display the container as inline-block */
    padding: 10px;
}

/* Styles for individual prompts */
.prompt {
    border: 2px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 32px;
    display: inline-block; /* Display the prompts as inline-block */
    vertical-align: middle; /* Align prompts vertically */
}

/* Styles for navigation */
.nav {
    margin-top: 0px;
    z-index: 1; 
    align-self: flex-start;
}

.nav a:not(#project-name):not(#project_link):not(#project-image-button) {
    display: block;
    color: rgb(220, 220, 220);
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
}

#project-name{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -20px;
    /*margin-left: 20px; */
    text-decoration: none;
    transition: color 0.3s ease;
}

#project-name:hover{
    color: rgb(100, 100, 165);
}


.nav a:hover:not(#project-link-inside):not(#youtube):not(#project-name):not(#project-image-button){
    background-color: rgba(255, 255, 255, 0.3);
}

.cloud {
    top: 100px; 
    left: -100px;
    z-index: -1;
    overflow-x: hidden;
    position: fixed;
    pointer-events: none;
    animation: cloud_move 25s linear;
}


#main_button:hover {
    color: rgb(93, 93, 93);
}

#main_button{
    transition: color 0.3s ease;
}

#project_link{
    font-size: 15px;
    color: rgb(115, 115, 162);
    text-decoration: underline;
    width: fit-content;
    padding: 5px;
    display: inline-block;
}

#project_link:hover{
    font-size: 15px;
    color: rgb(34, 34, 52);
}

/* PROJECTS */.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-left: -14%;
}

.project {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 40px);
    margin: 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition */
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.project-info {
    text-align: center;
    margin-top: 15px;
}

.project-info a {
    color: #1e90ff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.project-info a:hover {
    text-decoration: underline;
}

.project h4 {
    font-size: 18px;
    margin: 10px 0;
    padding-top: 20px;
}

.project p {
    font-size: 14px;
    color: #bbb;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    rotate: 0.5deg;
}

#main_menu_p{
    font-size: 20px;
    background-color: #b6b6b6;
    padding: 5px;
    margin-top: -8px;
    color: #000000;
}

.project h3{
    margin-top: -5px;
    color: rgb(115, 115, 162);
    font-weight: 0;
}

#lofi_image_desk{
    width: 50%;
    position: absolute;
    margin-left: 23%;
    opacity: 0.5;
    margin-top: -8%;
}

#lofi_image_drawer{
    width: 45%;
    position: absolute;
    margin-left: 26%;
    opacity: 0.5;
    margin-top: -16%;
}

/* Dark Mode Checkbox Styling */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: #333; /* Dark background color */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
  }

#about_me_div {
    align-items: center;
    color: white;
}

#about_me_div a{
    all:unset;
    vertical-align: text;
    text-decoration: underline;

}

.block{
    display: inline;
}

#about_me_div a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.highlight {
    background-color: rgba(255, 196, 4, 0.615);
}

#searchBox {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #271d2f;
    color: white;
}

.row {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 85%;
    background-color: #281f2b78;
}

.blog_inside {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Define styles for the top-left column */
.top-left {
    margin-bottom: 10px;
    flex-grow: 1; /* Make it stretch */
    font-size: 20px;
}

/* Define styles for the top-right column */
.top-right {
    font-size: 13px;
    padding-top: 5px;
}

/* Define styles for the bottom description column */
.bottom {
    margin-top: auto; /* Push it to the bottom */
}

.bottom-right{
    margin-left: auto;
    color: #888;
}

@media only screen and (max-width: 768px) {
    body {
        padding-left: 10px; /* Adjust padding for mobile devices */
    }

    .temp-text{
        font-size: 10px !important;
        margin-left: -0% !important;
        position: absolute !important;
        padding: 0px !important;
        overflow: hidden !important;
    }
    
    #lofi_image, #lofi_image_desk, #lofi_image_drawer{
        width: 0% !important;
    }
    .project,
    .project-info {
        float: none !important;
    }

    .project{
        width:100%;
    }

    .projects-container{
        margin-left:-4% !important;
    }

    .project img{
        width: none !important;
        height: 30% !important;
    }

    #project-image-inside{
        width: 100% !important;
        padding-left: 0px !important;
    }

    .project-content{
        display: block !important;
    }

    #project-video{
        width:90% !important; 
        height:auto !important;
    }

    #image-button-feed{
        width: 50% !important;
    }

    #image-feed{
        width: 100% !important;
        height: auto;
    }
}

#image-feed{
    width: 30%;
    height: auto;
}

#input1,
#input2,
#input3{
    width: 80%;
    background-color: #1d1d1d64;
    color: #ffffff;
    height: 100px;
    padding: 15px;
    font-size: 24px;
}


#about_me_div{
    font-size: 20px;
}

#about-me-link{
    font-size: 21px !important;
    color: #e0d1b4 !important;
    display: contents !important;
    text-decoration: underline !important;
    transition: 0.2s color ease-in-out !important;
}

#about-me-link:hover{
    color: #d8b368 !important;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: rgb(108, 211, 108);
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
    margin-right: 5px;
    margin-top:9px;
}

.feed_sort p{
    margin-right: 30px;
    font-size: 30px;
    margin-top:2px;
}

.feed_sort a{
    margin-left: auto;
    right:0;
    font-size: 30px;
}
/* Animation keyframes */
@keyframes pulse {
    0% {
        transform: scale(0.7);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.feed_sort{
    display: flex;
    width:81%;
}

.progress-container {
  width: 300px;
  margin-top: 20px;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #bcbcbc;
  border-radius: 5px;
}

.progress {
  height: 100%;
  background-color: #3d3d3d;
  border-radius: 5px;
  transition: width 1s ease-in-out;
}

.link_shine{
  position: absolute;
  top: -12px;
  bottom: -12px;
  background-color: #fff;
  width: 17px;
  left: -15%;
  transform: rotate(25deg);
  transition: all .12s ease-in-out;
  animation: shine 1.9s ease-in-out infinite;
}

@keyframes shine {
    0%{
        left:-15%;
        opacity: 0;
    }

    30%{
        opacity: .1;
    }

    70%{
        left: 110%;
        opacity: 0;
    }

    100%{
        left: 110%;
        opacity: 0;
    }
}

#reverseButton {
    position: relative; /* Add relative positioning */
  }

#youtube{
    position: relative!important;
    display: inline-block!important;
    background-color: #af4242!important;
    overflow: hidden!important;
    padding: 8px 12px!important;
    margin: 10px!important;
}


#orange-button{
    position: relative!important;
    display: inline-block!important;
    background-color: #d88c40!important;
    overflow: hidden!important;
    padding: 8px 12px!important;
    margin: 10px!important;
}

#github{
    position: relative!important;
    display: inline-block!important;
    background-color: #636575!important;
    overflow: hidden!important;
    padding: 8px 12px!important;
    margin: 10px!important;
}
.version-button-container {
    display: flex;
    width: 100%;
}

.version-button {
    width: 50%;
    text-align: center; 
    padding: 10px;
    margin: 2px;
    border: 0px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
    box-sizing: border-box;
    transition: background-color 300ms linear;
}

.version-button:hover {
    background-color: #d53030;
    transition: background-color 300ms linear;
}

.version-button.white {
    background-color: rgb(255, 29, 29);
    color: rgb(255, 255, 255);
}
.version-button.red {
    background-color: #a43838;
    color: white;
}

#grey-text{
    color: #7b7b7b;
}

#big-text{
    font-size: 25px;
    text-decoration: underline;
}

#rain{
    overflow: hidden;
    position: fixed;
    box-sizing: border-box !important;
    pointer-events: none;
    top: -10px; /* Start above the viewport */
    animation: fall 1s linear;
}

@keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh); /* Fall to the bottom of the viewport */
    }
  }


  @keyframes cloud_move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }


#project-link-inside{
    font-size: 20px !important;
    padding: 5px!important;
    margin: 0px!important;
    padding-left: 5px!important;
    transition: none!important;
    text-decoration: underline!important;
}

#project-link-inside:visited{
    color: rgb(143, 139, 139);
}

#project-link-inside:hover{
    box-shadow: 0 0 0 2px #b6b6b6!important;
    background-color: none!important;
    transition: none!important;
}

#youtube:hover{
    background-color: #893333 !important;
}


#orange-button:hover{
    background-color: #c77a16 !important;
}

#project-image-inside{
    width: 60%;
    height: auto;
    padding: 7px;
    background-color: #353535;
    border-radius: 10px;
    margin-top: 10px;
}

#semi-red-text{
    color: #d25555;
}

#project-video{
    width:60%; 
    height:30%; 
}


.no-image{
    color: #6f6f6f;
    font-size: 15px;
}

#image-button-feed{
    background-color: #5a5858a9;
    width: 10%;
    color: rgb(189, 187, 187);
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    border: none;
    margin: 10px;
    padding: 5px;
}

#image-button-feed:hover{
        background-color: rgba(255, 255, 255, 0.3);
}


.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center;
    padding: 20px;
  }
  
  .project-card {
    background-color: #2a2a2a;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Adjust the width to fit three cards per row */
    box-sizing: border-box;
    max-width: 300px; /* Max width for each card */
    min-width: 250px; /* Min width for responsiveness */
  }
  
  .project-card h3 {
    margin-top: 0;
  }
  
  .project-card a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .project-card a:hover {
    text-decoration: underline;
  }



  /* TIMELINE */
  .timeline {
    position: relative;
    max-width: 1200px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #404040;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -17px;
    background-color: #404040;
    border: 4px solid #404040;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #404040;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #404040;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #404040;
    border-width: 10px 10px 10px 0;
    border-color: transparent #404040 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -8.3px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #404040;
    position: relative;
    border-radius: 6px;
    padding-top: -20px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid #404040;
      border-width: 10px 10px 10px 0;
      border-color: transparent #404040 transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 22px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  #timeline_header{
    margin-top: -13px;
    margin-left: -130px;
    font-size:15px;
  }


  #lofi_image{
    width: 40%;
    margin-left: 38%;
    opacity: 0.5;
    top: 50%;
    position: absolute;
  }


  .button-container {
    position: relative;
    display: inline-block;
    transition: filter 0.3s ease;
}

.button-container a {
    font-size: clamp(5px, 5vw, 25px) !important; /* Font is responsive but capped at 25px */
    word-wrap: break-word;
    max-width: 100vw;
    cursor: pointer;
}

a{    cursor: pointer;
}

#copyButton {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: filter 0.3s ease;
}

#click_see_more1{
    text-align: center;
  left: 10px;
  position: absolute;
  margin-top: -5px;
  color: gray;
}
@media (min-width: 900px) {
    #click_see_more1{
        left: 40% !important; position: absolute; margin: 5px; color: grey; text-align: center; display: block;

    }
}

#hr_contact {
    margin: 10px;
}

.button-image {
    width: 40px;
    height: 40px;
    transition: filter 0.3s ease;
}

/* Popup styling */
.popup {
    visibility: hidden;
    background-color: #6b6b6b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    bottom: 120%;
    left: 5%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Hover effects applied only to the button */
#copyButton:hover {
    filter: invert(80%);
    background-color: #6d6d6d;
}

/* Show popup only when hovering over the button */
#copyButton:hover + .popup {
    visibility: visible;
    opacity: 1;
}

.impact-effect {
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%; /* Makes it a circle */
    opacity: 0.5;
    transform: translate(-50%, -50%);
    animation: impact-animation 1s forwards;
    pointer-events: none; /* Ensures the effect doesn’t interfere with clicks */
}


@keyframes impact-animation {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

