/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

/* Base styles */
body {
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: "Golos Text", sans-serif;
    padding-top: 150px;
    padding-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Styles for the prompt container */
.prompt-container {
    background-color: white;
    margin-bottom: 10px;
    display: inline-block; /* Display the container as inline-block */
    padding: 10px;
}

/* Styles for individual prompts */
.prompt {
    border: 2px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 32px;
    display: inline-block; /* Display the prompts as inline-block */
    vertical-align: middle; /* Align prompts vertically */
}

/* Styles for navigation */
.nav {
    margin-top: 0px;
    align-self: flex-start;
}

.nav a {
    display: block;
    color: rgb(220, 220, 220);
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Style for cloud images */
.cloud {
    position: absolute;
    top: 100px; /* Initial position from the top */
    left: -100px; /* Initial position from the left, just outside the screen */
    z-index: -1; /* Set a lower z-index to move clouds behind other elements */
}

/* Additional styles for navigation */
.nav {
    z-index: 1; /* Set a higher z-index to keep navigation links on top */
}

#main_button:hover {
    color: rgb(93, 93, 93);
}

#main_button{
    transition: color 0.3s ease;
}
