/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

/* Base styles */
body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Golos Text", sans-serif;
    padding-top: 100px;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}

.background {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Your existing styles go here */


/* Styles for the prompt container */
.prompt-container {
    background-color: white;
    margin-bottom: 10px;
    display: inline-block; /* Display the container as inline-block */
    padding: 10px;
}

/* Styles for individual prompts */
.prompt {
    border: 2px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 32px;
    display: inline-block; /* Display the prompts as inline-block */
    vertical-align: middle; /* Align prompts vertically */
}

/* Styles for navigation */
.nav {
    margin-top: 0px;
    z-index: 1; 
    align-self: flex-start;
}

.nav a {
    display: block;
    color: rgb(220, 220, 220);
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.cloud {
    position: absolute;
    top: 100px; 
    left: -100px;
    z-index: -1;
}


#main_button:hover {
    color: rgb(93, 93, 93);
}

#main_button{
    transition: color 0.3s ease;
}

/* PROJECTS */

.project {
    margin-bottom: 10px; 
    overflow: hidden;
    position: relative; 
    padding-bottom: 10px; /* Add some padding between projects */
    padding-top:10px;
}


.project .project-info {
    float: right; 
}

.project-info h2,
.project-info h4,
.project-info p,
.project-info a {
    margin-bottom: -10px;
    margin-left: 20px; 
}

.project-info h2{
    margin-bottom: -20px;
}

.project-info h4{
    color: rgb(167, 163, 163);
    font-size: 20px;
}

.project img {
    top: 0; 
    width: 400px; 
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}

.project a {
    display: block; 
    margin-top: 5px;
}

#project_link{
    font-size: 15px;
    color: rgb(115, 115, 162);
    text-decoration: underline;

}

#project_link:hover{
    font-size: 15px;
    color: rgb(34, 34, 52);
}

#main_menu_p{
    font-size: 20px;
    background-color: #b6b6b6;
    padding: 5px;
    margin-top: -8px;
    color: #000000;
}

.project h3{
    margin-top: -5px;
    color: rgb(115, 115, 162);
    font-weight: 0;
}

/* Dark Mode Checkbox Styling */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: #333; /* Dark background color */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }

#about_me_div {
    align-items: center;
    color: white;
}

#about_me_div a{
    all:unset;
    vertical-align: text;
    text-decoration: underline;

}

.block{
    display: inline;
}

#about_me_div a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}